Mesaj atmak icin:
<br>curl -d "user=<b>kullanici</b>&member=<b>hedef</b>&passwd=<b>sifre</b>&group=<b>gurup</b>&message=<b>mesaj</b>" <b>site</b>/send.php
<p>liste almak icin:
<br>curl -d "user=<b>kullanici</b>&time=<b>zaman</b>&passwd=<b>sifre</b>" <b>site</b>/list.php
<p>Mesaji almak icin:
<br>curl -d "user=<b>kullanici</b>&time=<b>zaman</b>&member=<b>hedef</b>&passwd=<b>sifre</b>" <b>site</b>/write.php
<p>Kullanici olusturmak icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&name=<b>Gercek isim</b>" <b>site</b>/adduser.php
<p>Kullanici silmek  icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>" <b>site</b>/deluser.php
<p>Kullanici sifresi degistirmek icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&newpasswd=<b>Yeni Sifre</b>" <b>site</b>/adduser.php
<p>Kullanici bilgisi ayarlamak isin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&info=<b>bilgi</b> " <b>site</b>/setinfo.php
<p>Kullanici kontrolu icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b> " <b>site</b>/check.php
<p>Kullanici bilgisi almak isin
<br>curl -d "user=<b>kullanici</b> <b>site</b>/getinfo.php
<p>Gurup bilgisi almak icin
<br>curl -d "id=<b>id</b> <b>site</b>/getgroupinfo.php
<p>Gurup bilgisi ayarlamak icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&id=<b>id</b>&key=<b>key</b> " <b>site</b>/setgroupinfo.php
<p>Guruba girmek veya gurup olusturmak icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&id=<b>id</b>&key=<b>key</b> " <b>site</b>/join.php
<p>Guruptan cikmak icin
<br>curl -d "user=<b>kullanici</b>&passwd=<b>sifre</b>&id=<b>id</b>&key=<b>key</b> " <b>site</b>/leave.php

<p><br>Alinan mesajlar sonsuza dek silinir.<br>Once liste cekip listedeki zamanlara gore kimden hangi mesaj gelmis onlari ogrenebilirsiniz. zamanlar epoch zamanidir.
